@using System.Globalization
@using WorkPanel.Models.PortfolioViewModels
@model PortfolioViewModel
@{
    ViewData["Title"] = "Portfolio";    
}

<div class="index_body">
    <div class="row" style="padding: 30px; background: whitesmoke; margin: 0px;">
        <div class="col-xs-6">
            <div class="row">
                <div class="col-md-3">
                    <div class="row" style="display: ruby">
                        <h1 style="margin-left: -5px;">$<span style="font-weight: bold">@(Model.NetAssetValue.ToString("n0", new CultureInfo("en-US")))</span></h1>
                        @{
                            //var per = 
                        }
                        <h3><span style="font-weight: bold; color: #2BBF5C">+@(((Model.Assets.Sum(a=>a.Exposure)- Model.TotalInvested)/Model.TotalInvested).ToString("p", new CultureInfo("en-US")))</span></h3>
                    </div>
                    <div class="row" style="margin-top: -15px;">
                        <h5>Net Asset Value</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <h3><span style="font-weight: bold; color: #2BBF5C">31.83%</span></h3>
                        <h5 style="margin-top: -5px;"><span>1W Change</span></h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <h3><span style="font-weight: bold; color: #2BBF5C">219.03%</span></h3>
                        <h5 style="margin-top: -5px;"><span>1M Change</span></h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <h3><span style="font-weight: bold; color: #2BBF5C">527.62%</span></h3>
                        <h5 style="margin-top: -5px;"><span>3M Change</span></h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <h3><span style="font-weight: bold; color: #2BBF5C">$@(Model.Acquisition.ToString("n0", new CultureInfo("en-US")))</span></h3>
                        <h5 style="margin-top: -5px;"><span>Acquisition Cost</span></h5>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <h3><span style="font-weight: bold; color: #2BBF5C">$@((Model.NetAssetValue-Model.TotalInvested).ToString("n0", new CultureInfo("en-US")))</span></h3>
                        <h5 style="margin-top: -5px;"><span>Profit/Loss</span></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <canvas id="myChart" width="400" height="300"></canvas>
        </div>
    </div>
    <br/>
    <div>
        <table class="table hover-table">
            <thead>
            <tr>
                <th>Asset</th>
                <th>Quantity</th>
                <th>Price/Price change</th>
                <th>Exposure</th>
                <th>Profit/Loss</th>
                <th style="text-align: end;">Weight, %</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var asset in Model.Assets)
            {
                <tr class="hover-tr">
                    <td>
                        @if (asset.Name == "USD")
                        {
                            <span style="font-weight: bold; font-size: large;">@asset.Name</span>
                        }
                        else
                        {
                        <a data-toggle="modal" data-target="#modal-action-info" asp-action="Info" asp-route-id="@asset.Id">
                            <span style="font-weight: bold; font-size: large;">@asset.Name</span>
                        </a>
                        }
                    </td>
                    <td><span style="font-size: large;">@asset.Quantity.ToString("n2", new CultureInfo("en-US"))</span> <span style="color: lightgray; font-size: large;">@asset.ShortName</span></td>
                    <td>
                        @{
                            var percent = (asset.Price - asset.AveragePrice) / asset.Price;
                        }
                        @if (percent > 0)
                        {
                            <span style="color: #2BBF5C; font-size: large;">$@asset.Price.ToString("n2", new CultureInfo("en-US"))</span>
                            <span style="color: #2BBF5C; margin-left: 10px; font-size: small;">+@(percent.ToString("p2", new CultureInfo("en-US")))</span>
                        }
                        else
                        {
                            <span style="color: red; font-size: large;">$@asset.Price.ToString("n2", new CultureInfo("en-US"))</span>
                            <span style="color: red; margin-left: 10px; font-size: small;">-@(percent.ToString("p2", new CultureInfo("en-US")))</span>
                        }
                    </td>
                    <td><span style="font-size: large;">$@asset.Exposure.ToString("n2", new CultureInfo("en-US"))</span></td>
                    <td>
                        @if (percent > 0)
                        {
                            <span style="color: #2BBF5C; font-size: large;">$@(Math.Abs(asset.Quantity * asset.Price - asset.Quantity * asset.PurchasePrice).ToString("N2", new CultureInfo("en-US")))</span>
                            <span style="color: #2BBF5C; margin-left: 10px; font-size: small;">+@(percent.ToString("p2", new CultureInfo("en-US")))</span>
                        }
                        else
                        {
                            <span style="color: red; font-size: large;">$@(Math.Abs(asset.Quantity * asset.Price - asset.Quantity * asset.PurchasePrice).ToString("N2", new CultureInfo("en-US")))</span>
                            <span style="color: red; margin-left: 10px; font-size: small;">-@(percent.ToString("p2", new CultureInfo("en-US")))</span>
                        }
                        
                    </td>
                    <td style="text-align: end;"><span style="font-size: large;">@((asset.Exposure / Model.NetAssetValue).ToString("P"))</span></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<div id="add-modal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 400px;">    
        <div class="modal-content">
            <button type="button" class="close" style="margin: 10px;" data-dismiss="modal">&times;</button>
            <div class="modal-body">
                @await Html.PartialAsync("AddAsset")
            </div>
        </div>
    </div>
</div>

<div id="modal-action-info" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 400px;">    
        <div class="modal-content">          
        </div>
    </div>
</div>



<script src="~/lib/chartjs/chart.js"></script>
<script>
    var ctx = $("#myChart");
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec", "Jan", "Feb", "Mar"],
            datasets: [{
                label: 'Sample chart',
                data: [12, 19, 3, 5, 2, 3, 6, 3, 8, 2, 2, 6, 14, 2, 6, 4, 5, 6, 2, 45, 7, 2],

            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            },
            responsive: true
        }
    });
</script>