@model WorkPanel.Models.PanelViewModels.InvestorViewModel
<div style="height:30px; padding: 10px;">
    <button type="button" class="close" data-dismiss="modal" >&times;</button>
</div>
<div class="modal-body" style="margin-top: 0px;">
    
    @Html.AntiForgeryToken()
    @if (Model != null)
    {
        <div id="buttons">
            <div>
                <h2 style="text-align: center;">@Model.Name</h2>
                @if (Model.Status == Status.Active)
                {
                    <h4 style="text-align: center;color: darkgray;">Active Investor</h4>
                }
                else
                {
                    <h4 style="text-align: center;color: darkgray;">Inactive Investor</h4>
                }
            </div>
            <hr/>
            <div id="dates" class="row">
                <div class="col-xs-6">
                    @if (Model.HistoricalDateList.Count > 0)
                    {
                        <h5 style="text-align: center; word-wrap: break-word; margin: 20px; font-weight: bold">Activation Date</h5>
                        foreach (var item in Model.HistoricalDateList)
                        {
                            <h5 style="text-align: center; word-wrap: break-word; margin: 10px;">@item.ToShortDateString()</h5>
                        }
                    }
                </div>
                <div class="col-xs-6">
                    @if (Model.HistoricalDeactivateDateList.Count > 0)
                    {
                        <h5 style="text-align: center; word-wrap: break-word; margin: 20px; font-weight: bold">Deactivation Date</h5>
                        foreach (var item in Model.HistoricalDeactivateDateList)
                        {
                            <h5 style="text-align: center; word-wrap: break-word; margin: 10px;">@item.ToShortDateString()</h5>
                        }
                    }
                </div>
            </div>
            <div id="agreement-div">
                <h5 style="text-align: center; font-weight: bold; word-wrap: break-word; margin: 20px;">@Model.Agreement</h5>
            </div>   
            <div id="action-buttons" class="form-group" style="text-align: center; margin-top: 20px; margin-bottom: 0px;">
                @if (Model.Status == Status.Active)
                {
                    <input type="submit" value="Deactivate" class="btn btn-default" style="color: black; border-radius: 15px; width: 100px;" onclick="deactivateConfirm()"/>
                }
                else
                {
                    <input type="submit" value="Activate" class="btn btn-default" style="color: white; background: lightblue; border-radius: 15px; width: 100px; margin-right: 15px" onclick="activateConfirm()"/>
                    <input type="submit" value="Remove" class="btn btn-default" style="color: white; border-radius: 15px; background: #F94F4A; width: 100px;" onclick="removeConfirm()"/>
                }                          
            </div>
             <div id="deactivate" class="row" style="display: none">
                <div class="col-md-9" style="float: none; margin: 0 auto;">
                    <form asp-route-returnUrl="Panel" asp-action="DeactivateInvestor" name="deactivateForm" onsubmit="return validateDeactivation()" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="Id" class="form-control" type="hidden" />
                        <div class="form-group">
                            @*<label asp-for="DeactivateDate"></label>*@
                            <input id="DeactivateDate" name="DeactivateDate" class="form-control" placeholder="Date (DD/MM/YYYY)" />
                            <span id="deactivateDateSpan" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @*<label asp-for="SharesBurned"></label>*@
                            <input class="form-control" readonly value="@Model.SharesReceived Shares Burned" /> 
                            @*<span asp-validation-for="SharesBurned" class="text-danger"></span>*@
                        </div>
                        <div class="form-group">
                            @*<label asp-for="AmountReturned"></label>*@
                            <input id="AmountReturned" name="AmountReturned" type="number" class="form-control" placeholder="Amount Returns"/>
                            <span id="deactivateAmountSpan" class="text-danger"></span>
                        </div>
                        <div style="text-align: center">
                            <button type="submit" class="btn btn-default" style="color: black; border-radius: 15px; width: 250px;">Deactivate and return</button>
                        </div>
                    </form>
                </div>
            </div>
            <div id="activate" class="row" style="display: none">
                <div class="col-md-9" style="float: none; margin: 0 auto;">
                    <form asp-route-returnUrl="Panel" asp-action="ActivateInvestor" onsubmit="return validateActivation()" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="Id" class="form-control" type="hidden" />
                        <div class="form-group">
                            @*<label asp-for="DeactivateDate"></label>*@
                            <input id="Date" name="Date" class="form-control" placeholder="Date (DD/MM/YYYY)" />
                            <span id="activateDateSpan" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @*<label asp-for="AmountReturned"></label>*@
                            <input id="AmountInvested" name="AmountInvested" class="form-control" type="number" placeholder="Amount Invested"/>
                            <span id="activateAmountSpan" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @*<label asp-for="SharesBurned"></label>*@
                            <input id="SharesReceived" name="SharesReceived" class="form-control" type="number" placeholder="Shares Received" /> 
                            <span id="activateSharesSpan" class="text-danger"></span>
                        </div>
                        <div style="text-align: center">
                            <button type="submit" class="btn btn-default" style="color: lightgray; border-radius: 15px; width: 250px;">Activate</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="confirm" class="form-group" style="display: none">        
            <div style="margin: 10px;">
                <h3 style="text-align: center;">Are you sure you want to remove the Investor?</h3>
            </div>
            <hr/>
            <div class="form-group" style="text-align: center; padding-top: 20px;">
                <input type="submit" value="Return" class="btn btn-default" onclick="removeConfirm()" style="color: white; margin-right: 25px; background: lightblue; width: 100px; border-radius: 15px;"/>
                <a class="btn btn-default" asp-action="RemoveInvestor" asp-route-id="@Model.Id" asp-controller="Panel" title="Activate" style="color: white; border-radius: 15px; width: 100px; background: #F94F4A;">Remove</a>
            </div>
        </div>
    }
</div>
<script>

    $(function() {
        $("#DeactivateDate").datepicker({ dateFormat: 'dd-mm-yy' });
        $("#Date").datepicker({ dateFormat: 'dd-mm-yy' });
    });

    function removeConfirm() {
        $("#confirm").toggle();
        $("#buttons").toggle();
    }

    function deactivateConfirm() {
        $("#agreement-div").toggle();
        $("#action-buttons").toggle();
        $("#deactivate").toggle();
        $("#dates").toggle();
    }

    function activateConfirm() {
        $("#agreement-div").toggle();
        $("#action-buttons").toggle();
        $("#activate").toggle();
        $("#dates").toggle();
    }

    function validateDeactivation() {
        var errors = 0;
        $("#deactivateDateSpan").text("");
        $("#deactivateAmountSpan").text("");
        var date = $("#DeactivateDate").val();
        var amount = $("#AmountReturned").val();
        console.log("date - " + date);
        if (date === "") {
            errors++;
            $("#deactivateDateSpan").text("Empty value");
        }
        if (amount === "" || amount <= 0) {
            errors++;
            $("#deactivateAmountSpan").text("Field is empty or below zero");
        }
        if (errors > 0)
            return false;
    }

    function validateActivation() {
        var errors = 0;
        $("#activateDateSpan").text("");
        $("#activateAmountSpan").text("");
        $("#activateSharesSpan").text("");
        var date = $("#Date").val();
        var amount = $("#AmountInvested").val();
        var shares = $("#SharesReceived").val();
        console.log("date - " + date);
        if (date === "") {
            errors++;
            $("#activateDateSpan").text("Empty value");
        }
        if (amount === "" || amount <= 0) {
            errors++;
            $("#activateAmountSpan").text("Field is empty or below zero");
        }
        if (shares === "" || shares <= 0) {
            errors++;
            $("#activateSharesSpan").text("Field is empty or below zero");
        }
        if (errors > 0)
            return false;
    }

</script>