@model WorkPanel.Models.PanelViewModels.InvestorViewModel
<button type="button" class="close" style="margin: 10px;" data-dismiss="modal">&times;</button>
<div class="modal-body">
    
    @Html.AntiForgeryToken()
    @if (Model != null)
    {
        <div id="buttons">
            <div>
                <h2 style="text-align: center;">@Model.Name</h2>
                @if (Model.Status == Status.Active)
                {
                    <h4 style="text-align: center;color: darkgray;">Active Investor</h4>
                }
                else
                {
                    <h4 style="text-align: center;color: darkgray;">Inactive Investor</h4>
                }
            </div>
            <hr/>
            <div id="agreement-div">
                <h5 style="text-align: center; font-weight: bold">@Model.Agreement</h5>
            </div>            
            <div id="action-buttons" class="form-group" style="text-align: center; margin-top: 20px; margin-bottom: 0px;">
                @if (Model.Status == Status.Active)
                {
                    @*<a class="btn btn-default" style="color: lightgray; border-radius: 15px; width: 100px;" asp-action="DeactivateInvestor" asp-route-id="@Model.Id" asp-controller="Panel" title="Deactivate">Deactivate</a>*@
                    <input type="submit" value="Deactivate" class="btn btn-default" style="color: lightgray; border-radius: 15px; width: 100px;" onclick="deactivateConfirm()"/>
                }
                else
                {
                    @*<a class="btn btn-default" style="color: lightgray; border-radius: 15px; margin-right: 25px; width: 100px;" asp-action="ActivateInvestor" asp-route-id="@Model.Id" asp-controller="Panel" title="Activate">Activate</a>*@
                    <input type="submit" value="Remove" class="btn btn-default" style="color: white; border-radius: 15px; background: #F94F4A; width: 100px;" onclick="removeConfirm()"/>
                }                          
            </div>
            <div id="deactivate" class="row" style="display: none">
                <div class="col-md-9" style="float: none; margin: 0 auto;">
                    <form asp-route-returnUrl="Panel" asp-action="DeactivateInvestor" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="Id" class="form-control" type="hidden" />
                        <div class="form-group">
                            @*<label asp-for="DeactivateDate"></label>*@
                            <input id="DeactivateDate" name="DeactivateDate" class="form-control" type="date" placeholder="Date (DD/MM/YYYY)" />
                            @*<span asp-validation-for="DeactivateDate" class="text-danger"></span>*@
                        </div>
                        <div class="form-group">
                            @*<label asp-for="SharesBurned"></label>*@
                            <input class="form-control" readonly value="@Model.SharesReceived Shares Burned" /> 
                            @*<span asp-validation-for="SharesBurned" class="text-danger"></span>*@
                        </div>
                        <div class="form-group">
                            @*<label asp-for="AmountReturned"></label>*@
                            <input id="AmountReturned" name="AmountReturned" class="form-control" type="number" placeholder="Amount Returns"/>
                            @*<span asp-validation-for="AmountReturned" class="text-danger"></span>*@
                        </div>
                        <div style="text-align: center">
                            <button type="submit" class="btn btn-default" style="color: lightgray; border-radius: 15px; width: 250px;">Deactivate and return</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="confirm" class="form-group" style="display: none">        
            <div>
                <h3 style="text-align: center;">Are you sure you want to remove the Investor?</h3>
            </div>
            <hr/>
            <div class="form-group" style="text-align: center;">
                <input type="submit" value="Return" class="btn btn-default" onclick="switchDivs()" style="color: white; margin-right: 25px; background: lightblue; width: 100px; border-radius: 15px;"/>
                <a class="btn btn-default" asp-action="RemoveInvestor" asp-route-id="@Model.Id" asp-controller="Panel" title="Activate" style="color: white; border-radius: 15px; width: 100px; background: #F94F4A;">Remove</a>
            </div>
        </div>
    }
</div>
<script>
    function removeConfirm() {
        $("#confirm").toggle();
        $("#buttons").toggle();
    }

    function deactivateConfirm() {
        $("#agreement-div").toggle();
        $("#action-buttons").toggle();
        $("#deactivate").toggle();
    }
</script>